.modalBackground {
    width: 100%;
    height: 100%;
    background: url(../img/BG1.svg)  repeat #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modalContainer {  
      width: 80%;
    height: 85%;
    border-radius: 12px;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    overflow: hidden;
    
  }
  .DivC{
      width: 100%;
      height: 100%;
      
      display: flex;
  }


.DRigthe{
    height: 100%;
    width: 40%;
    padding-top: 6%;
    
}
img{
    width: 100% !important;
    height: 81% !important;
}

.Dleft{
    height: 100%;
    width: 60%;
    
}
.Titel{
    
    font-size: 37px;
    padding: 2%;
    font-weight: 800;

}

.description{
font-size: 19px;
font-family: system-ui;
font-weight: 400;
padding: 0% 2% 0% 2%;


}

form {
    width: 100%;
    padding: 2%;

}
.form-group {
    width: 100%;
    margin-bottom: 1rem;
  }
  label {
    color: #1818;
    font-size: 22px;
  }

  .Err{
    color: red;
    font-size: 22px;
    opacity: 0.8;
  }
  input {
    width: 88%;
    font-size: 16px;
    padding: 20px;
    color: #000;
    background-color:transparent;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-right: 5%;
    border: 1px #000 solid;

  }

  button {
    width: 150px;
    font-size: 16px;
    padding: 20px;
    color: #000;
    background-color:transparent;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: -15px;
    margin-left: 0;
    margin-right: 5%;
    border: 1px #000 solid;
    font-weight: 500;
    

  }

  button:hover {
    background-color:#000;
    color: #fff;

  }


  @media screen and (max-width: 1400px) {
    .Titel {
        font-size: 32px ;
        padding: 2%;
        font-weight: 800;
    }
    .description {
        font-size: 18px;
        font-family: system-ui;
        font-weight: 400;
        padding: 0% 2% 0% 2%;
        margin-top: -19px !important;

    }
    form {
        width: 100%;
        padding: 2%;
        margin-top: -19px !important;
    }

    img {
        width: 100% !important;
        height: 70% !important;
    }
}

  @media screen and (max-width: 1024px) {
    img {
        width: 100% !important;
        height: 59vh  !important;
    }
 
  
    .DivC{
        width: 100%;
        height: 100%;
        
        display: flex;
    }
    .DRigthe{
        height: 36%;
        width: 100%;
        
    }
    
    .Dleft{
        height: 50%;
        width: 100%;
        
    }

    .Titel {
        font-size: 27px ;
        padding: 0% 6% 0% 6%;
        font-weight: 700;
    }


    .description {   
         font-size: 16px;
        font-family: system-ui;
        font-weight: 400;
        padding: 0% 6% 0% 6%;
    }
    .form-group {
        width: 88%;
        margin-bottom: 1rem;
        padding: 0% 2% 0% 2%;
    }
    input {
        width: 94%;
        font-size: 15px;
        padding: 12px;
        color: #000;
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 8px;
        margin-top: 5px;
        margin-bottom: 7px;
        margin-right: 5%;
        border: 1px #000 solid;
    }

    button {
        width: 150px;
        font-size: 16px;
        padding: 13px;

        color: #000;
        background-color:transparent;
        outline: none;
        border: none;
        border-radius: 8px;
        margin-top: -15px;
        margin-left: 2%;
        margin-right: 5%;
        border: 1px #000 solid;
      }
    
}

@media screen and (max-width: 767px) {

    img {
        width: 100% !important;
        height: 100%  !important;
    }
    .modalBackground {
        height: 165vh !important;
    }
    .modalContainer {  
        width: 100%;
      height: 100%;
      padding: 0;
    }
    .DivC{
        width: 100%;
        height: 100%;
        
        display: block !important;
    }
    .DRigthe{
        
        height: 34%;
        width: 93%;
        padding: 4%;
        
    }
    
    .Dleft{
        height: 50%;
        width: 100%;
        
    }

    .Titel {
        font-size: 27px;
        padding: 0% 6% 0% 6%;
        font-weight: 700;
    }
    .description {   
         font-size: 16px;
        font-family: system-ui;
        font-weight: 400;
        padding: 0% 6% 0% 6%;
        margin-top: 0;
        margin-top: 0 !important;
    }
    .form-group {
        width: 88%;
        margin-bottom: 1rem;
        padding: 0% 2% 0% 2%;
    }
    input {
        width: 94%;
        font-size: 15px;
        padding: 12px;
        color: #000;
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 8px;
        margin-top: 5px;
        margin-bottom: 7px;
        margin-right: 5%;
        border: 1px #000 solid;
    }

    button {
        width: 150px;
        font-size: 16px;
        padding: 13px;

        color: #000;
        background-color:transparent;
        outline: none;
        border: none;
        border-radius: 8px;
        margin-top: -15px;
        margin-left: 2%;
        margin-right: 5%;
        border: 1px #000 solid;
      }
    
      .Err {
        color: red;
        font-size: 14px;
        opacity: 0.8;
        margin-left: -10px;
    }
    label {
        color: #1818;
        font-size: 14px;
        opacity: 0.8;
        margin-left: -10px;
    }

    form {
        width: 100%;
        padding: 2%;
        margin-top: 0 !important;
    }
}

